<launch>

<!-- these are the arguments you can pass this launch file, for example paused:=true -->
<arg name="paused" default="false"/>
<arg name="use_sim_time" default="false"/>
<arg name="gui" default="false"/>
<arg name="headless" default="false"/>
<arg name="debug" default="false"/>
<arg name="model" default="$(find diferencial)/urdf/dif.xacro"/>

<!-- We resume the logic in empty_world.launch -->
<include file="$(find gazebo_ros)/launch/empty_world.launch">
<arg name="debug" value="$(arg debug)" />
<arg name="gui" value="$(arg gui)" />
<arg name="paused" value="$(arg paused)"/>
<arg name="use_sim_time" value="$(arg use_sim_time)"/>
<arg name="headless" value="$(arg headless)"/>
</include>

<!-- Load the URDF into the ROS Parameter Server -->
<param name="robot_description" command="cat '$(arg model)'" />

<!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
<node name="dif" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
  args="-z 1.0 -urdf -model Differential_Drive -param robot_description"/>
 
</launch>
